<div class="grid">
    <div class="col-12">
        <div class="card px-4 py-2">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-1">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Exporter" icon="pi pi-upload" class="p-button-help mr-2 "
                            (click)="dt.exportCSV()"></button>
                        <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-success"
                            (click)="saveForm()" [disabled]="isEditable"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple [label]="editButtonLabel" [icon]="editButtonIcon" class="p-button-secondary"
                        (click)="makeEditable()"></button>
                </ng-template>
            </p-toolbar>
        </div>

        <div class="col-12">
            <div class="card">
                <h5>Informations sur l'entreprise</h5>
                <div class="p-fluid p-formgrid grid">
                    <!-- Name, sigle, email -->
                    <div class="field col-12 md:col-4">
                        <label class="block font-normal text-900 mb-2" htmlFor="name">Nom</label>
                        <input class="p-inputtext p-component p-element" type="text" pInputText id="name" [(ngModel)]="company.name" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !company.name}" [readonly]="isEditable" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !company.name">Nom obligatoire.</small>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label class="block font-normal text-900 mb-2" htmlFor="sigle">Sigle</label>
                        <input class="p-inputtext p-component p-element" type="text" pInputText id="sigle" [(ngModel)]="company.sigle" required
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !company.sigle}" [readonly]="isEditable" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !company.sigle">Sigle
                            obligatoire.</small>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label class="block font-normal text-900 mb-2" htmlFor="email">Email</label>
                        <input class="p-inputtext p-component p-element" type="text" pInputText id="email" [(ngModel)]="company.email" required
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !company.email}" [readonly]="isEditable" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !company.email">Email
                            obligatoire.</small>
                    </div>

                    <!-- Telephone, telephone2, adresse -->
                    <div class="field col-12 md:col-4">
                        <label class="block font-normal text-900 mb-2" htmlFor="telephone">Téléphone</label>
                        <input class="p-inputtext p-component p-element" type="text" pInputText id="telephone" [(ngModel)]="company.telephone" required
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !company.telephone}"
                            [readonly]="isEditable" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !company.telephone">Téléphone
                            obligatoire.</small>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label class="block font-normal text-900 mb-2" htmlFor="telephone2">Téléphone 2</label>
                        <input class="p-inputtext p-component p-element" type="text" pInputText id="telephone2" [(ngModel)]="company.telephone2"
                            [readonly]="isEditable" />
                    </div>
                    <div class="field col-12 md:col-4">
                        <label class="block font-normal text-900 mb-2" htmlFor="adresse">Adresse</label>
                        <input class="p-inputtext p-component p-element" type="text" pInputText id="adresse" [(ngModel)]="company.adresse"
                            [readonly]="isEditable" />
                    </div>

                    <!-- Ville, BP, site web -->
                    <div class="field col-12 md:col-4">
                        <label class="block font-normal text-900 mb-2" htmlFor="ville">Ville</label>
                        <input class="p-inputtext p-component p-element" type="text" pInputText id="ville" [(ngModel)]="company.ville" required
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !company.ville}" [readonly]="isEditable" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !company.ville">Ville
                            obligatoire.</small>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label class="block font-normal text-900 mb-2" htmlFor="bp">Boîte postale</label>
                        <input class="p-inputtext p-component p-element" type="text" pInputText id="bp" [(ngModel)]="company.bp" [readonly]="isEditable" />
                    </div>
                    <div class="field col-12 md:col-4">
                        <label class="block font-normal text-900 mb-2" htmlFor="site">Site web</label>
                        <input class="p-inputtext p-component p-element" type="text" pInputText id="site" [(ngModel)]="company.site" [readonly]="isEditable" />
                    </div>

                    <!-- Logo, entêtes, pieds de page -->
                    <div class="field col-12 md:col-4">
                        <label class="block font-normal text-900 mb-2" htmlFor="entete">Entête gauche</label>
                        <textarea class="p-inputtextarea p-component p-element" id="entete" [(ngModel)]="company.enteteGauche" [readonly]="isEditable"></textarea>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label class="block font-normal text-900 mb-2" htmlFor="entete">Entête droite</label>
                        <textarea class="p-inputtextarea p-component p-element" id="entete" [(ngModel)]="company.enteteDroite" [readonly]="isEditable"></textarea>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label class="block font-normal text-900 mb-2" htmlFor="pied">Pieds de page</label>
                        <textarea class="p-inputtextarea p-component p-element" id="pied" [(ngModel)]="company.enteteDroite" [readonly]="isEditable"></textarea>
                    </div>
                    <div class="field col-12 md:col-4" *ngIf="!isEditable">
                        <label class="block font-normal text-900 mb-2" htmlFor="logo">Votre logo</label>
                        <p-fileUpload name="file" customUpload="true" (uploadHandler)="onFileSelected($event)" [auto]="true"
                            [chooseLabel]="'Choisir un fichier'" [cancelLabel]="'Annuler'"
                            [uploadLabel]="'Uploader'"></p-fileUpload>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>