<div class="container-fluid h-full">
    <div class="flex gap-5 flex-column md:flex-row">
        <div class="col-12 md:col-4">
            <div class="card border-round-lg center justify-content-center p-0" style="width: 100%;">

                <div class="h-16rem bg-cover" style="background: url('assets/layout/images/cover-2.jpg');"></div>
                <div class="flex flex-column gap-3 md:flex-row justify-content-center px-4 py-4 md:px-6 lg:px-8">
                    <div class="flex flex-column align-items-center gap-4 md:-mt-8">
                        <img src="{{ account?.imageUrl || 'assets/layout/images/avatar.png' }}" alt="Profile Image"
                            class="w-10rem border-3 border-circle border-0">
                        <div class="flex flex-column align-items-center justify-content-center">
                            <h1 class="m-0 font-semibold text-900 text-2xl line-height-3">
                                {{ account.fullName }} <i class="pi pi-verified text-xl text-primary-500"></i>
                            </h1>
                            <span class="text-700 text-base">{{ account.email }}</span>
                        </div>
                        <div class="flex align-items-center gap-2">
                            <button pbutton="" pripple="" label="Modifier"
                                class="p-element p-ripple p-button-rounded p-button p-component"
                                (click)="editProfile()">
                                <span class="p-button-label">Modifier</span><span class="p-ink"></span>
                            </button>
                            <button pbutton="" pripple="" label="Notification"
                                class="p-element p-ripple p-button-outlined p-button-rounded p-button p-component"
                                (click)="goToNotifications()">
                                <span class="p-button-label">Notification</span><span class="p-ink"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="w-[10%]">
                    <div class="w-full">
                        <ul class="list-none p-0 m-0 w-full">
                            <li
                                class="flex w-full align-items-center py-3 px-2 border-top-1 surface-border flex justify-content-between">
                                <div class="text-500 w-[40%] font-medium">Nom complet : </div>
                                <div class="text-center flex justify-content-center align-content-center w-[60%]"><span
                                        class="text-500 w-full font-bold text-black-alpha-80">{{account?.fullName}}</span>
                                </div>
                            </li>
                            <li
                                class="flex w-full align-items-center py-3 px-2 border-top-1 surface-border flex justify-content-between">
                                <div class="text-500 w-[40%] font-medium">Email : </div>
                                <div class="text-center flex justify-content-center align-content-center w-[60%]"><span
                                        class="text-500 w-full font-bold text-black-alpha-80">{{account?.email}}</span>
                                </div>
                            </li>
                            <li
                                class="flex w-full align-items-center py-3 px-2 border-top-1 surface-border flex justify-content-between">
                                <div class="text-500 w-[40%] font-medium">Langue : </div>
                                <div class="text-center flex justify-content-center align-content-center w-[60%]"><span
                                        class="text-500 w-full font-bold text-black-alpha-80">{{account?.langKey}}</span>
                                </div>
                            </li>
                            <li
                                class="flex w-full align-items-center py-3 px-2 border-top-1 surface-border flex justify-content-between">
                                <div class="text-500 w-[40%] font-medium">Role : </div>
                                <div class="text-center flex justify-content-center align-content-center w-[60%]"><span
                                        class="text-500 w-full font-bold text-black-alpha-80">{{getAuthorityLabel(account?.authority)}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-8">
            <p-tabView>
                <p-tabPanel header="Liste des Permissions">
                    <p-accordion *ngIf="data?.roles.length" [activeIndex]="0">
                        <p-accordionTab *ngFor="let rule of data?.roles">
                            <ng-template pTemplate="header">
                                <span class="flex align-items-center gap-2 w-full">
                                    <span class="font-bold white-space-nowrap">{{rule.libelle}}</span>
                                    <p-badge value="{{rule?.permissions.length}}" class="ml-auto"></p-badge>
                                </span>
                            </ng-template>
                            <p-table [value]="rule?.permissions" [tableStyle]="{'min-width': '50rem'}">
                                <ng-template pTemplate="header" style="background-color: #2E394B !important">
                                    <tr style="width: 10% !important;">
                                        <th pSortableColumn="index" style="width: 5% !important;">
                                            <div class="flex justify-content-between align-items-center">#</div>
                                        </th>
                                        <th pSortableColumn="libelle" class="col-9">Permissions</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-permission let-rowIndex="rowIndex">
                                    <tr>
                                        <td>{{rowIndex + 1}}</td>
                                        <td>{{permission.libelle}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-accordionTab>
                    </p-accordion>
                </p-tabPanel>

                <!-- Ajouter des onglets pour registrant, dossiers, et souscriptions -->
                <p-tabPanel header="Registrant"
                    *ngIf="accountService.hasAnyAuthority(['ROLE_CLIENT']) && data?.registrant">
                    <div class="p-3">
                        <label class="block font-normal text-900 mb-2">Registrant No: {{
                            data.registrant.numeroRegistrant }}</label>
                        <p>Branche: {{ data.registrant.branche.ville }}</p>
                        <p>Partenaire: {{ data.registrant.partenaire.nom }}</p>
                    </div>
                </p-tabPanel>

                <p-tabPanel header="Dossiers"
                    *ngIf="accountService.hasAnyAuthority(['ROLE_CLIENT']) && data?.dossiers?.length">
                    <p-table [value]="data.dossiers" [tableStyle]="{'min-width': '50rem'}">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Numéro de Dossier Médical</th>
                                <th>Date de Mise à Jour</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-dossier>
                            <tr>
                                <td>{{ dossier.numDossierMedical }}</td>
                                <td>{{ dossier.dateUpdated | date }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>

                <p-tabPanel header="Souscriptions"
                    *ngIf="accountService.hasAnyAuthority(['ROLE_CLIENT']) && data?.souscriptions?.length">
                    <p-table [value]="data.souscriptions" [tableStyle]="{'min-width': '50rem'}">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Numéro de Souscription</th>
                                <th>Date de Souscription</th>
                                <th>Date d'Expiration</th>
                                <th>Status</th>
                                <th>Fréquence de Paiement</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-souscription>
                            <tr>
                                <td>{{ souscription.numeroSouscription }}</td>
                                <td>{{ souscription.dateSouscription | date }}</td>
                                <td>{{ souscription.dateExpiration | date }}</td>
                                <td>{{ souscription.status }}</td>
                                <td>{{ souscription.frequencePaiement }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>