<div class="col-12 lg:col-8 chat">
  <p-panel header="Chat">
    <ul>
      <li *ngFor="let notification of notifications; let i = index"
          [ngClass]="{'clearfix message-from': notification.type === 'REQUEST', 'clearfix message-own': notification.type !== 'REQUEST'}">
        <ng-container *ngIf="shouldShowIcon(i)">
          <i *ngIf="notification.type === 'PAIEMENT'" class="pi pi-fw pi-credit-card"></i>
          <i *ngIf="notification.type === 'SOUSCRIPTION'" class="pi pi-fw pi-ticket"></i>
          <i *ngIf="notification.type === 'SINISTRE'" class="pi pi-fw pi-map"></i>
          <i *ngIf="notification.type === 'REQUEST'" class="pi pi-fw pi-user"></i>
        </ng-container>
        <span>{{ notification.message }}</span>
      </li>
    </ul>
    <div class="new-message">
      <div class="p-inputgroup">
        <input type="text" placeholder="Écrire un message" class="p-inputtext" [(ngModel)]="newMessage" (keyup.enter)="sendNotification()"/>
        <button type="button" class="p-button p-button-rounded p-button-text" (click)="sendNotification()">
          <i class="pi pi-send"></i>
        </button>
      </div>
    </div>
  </p-panel>
</div>
