
<button pButton pRipple label="Importer" [style]="{minHeight: '48px'}"  icon="pi pi-plus" class="p-button-primary mr-2" (click)="openNew()"></button>

<p-dialog [(visible)]="importDialog" [style]="{width: '600px'}" header="Importer les données" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <p-progressBar *ngIf="load" mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>

        <p-fileUpload chooseLabel="Importer un fichier de données" name="file" accept=".xlsx" [customUpload]="true" (uploadHandler)="onFileChange($event)"></p-fileUpload>
    </ng-template>
</p-dialog>

