<!-- app.invoice.component.html -->
<button pButton label="Print" type="button" icon="pi pi-print" (click)="print()"
    style="display:block; margin-bottom: 20px; margin-left: 6px;"></button>

<div class="grid">
    <div class="col">
        <div class="card">
            <div id="invoice-content">
                <div class="invoice">
                    <!-- Entete-->
                    <table class="table" width="100%">
                        <tr class="entete"
                            style="text-align: center; margin: auto; font-size: 0.87em; font-weight: bold; width: auto;">
                            <td class="left">
                                <div *ngFor="let item of headerPrintData?.enteteGauche;">
                                    {{item}}<br />
                                    **********<br />
                                </div>
                            </td>
                            <td class="center">
                                <img [src]="headerPrintData?.param?.logo" width="100" height="60"
                                    class="img"><br>
                                <span style="font-size: 0.8em;">Email: {{headerPrintData?.param?.email}}
                                    <br> Site: {{headerPrintData?.param?.site}}</span>
                            </td>
                            <td class="right">
                                <div *ngFor="let item of headerPrintData?.enteteDroite;">
                                    {{item}}<br />
                                    **********<br />
                                </div>
                            </td>
                        </tr>
                    </table>
                    <!-- La signature-->
                    <div style="border-top: 0.3px solid black;"></div>
                    <table>
                        <tr style="font-size: 0.8em;">
                            <td style="text-align: left;">
                                <i>SAMBA'A Web App v1.1, powered by <a href="https://github.com/DexDevNL2023">IT-CONSULTING TELEO</a></i>
                            </td>
                            <td style="text-align: right;">
                                <i>Imprimé le {{today | date:'d-M-Y'}} à {{today | date:'H'}}h {{today | date:'mm'}}min</i>
                            </td>
                        </tr>
                    </table>
                    <!-- le titre-->
                    <h5 class="titre"
                        style="text-align: center; text-decoration: wavy; font-weight: bold; font-size: 1.5em; text-transform: uppercase;">
                        <u>{{titlePage}}</u>
                    </h5>
                    <!-- le tableau-->
                    <div class="invoice-items">
                        <table>
                            <thead>
                                <tr>
                                    <th *ngFor="let col of cols">{{ col.header }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of items">
                                    <td *ngFor="let col of cols">{{ item[col.field] }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Pied de page -->
                    <div class="invoice-footer">
                        <div class="footer-text" *ngFor="let line of headerPrintData?.piedPage">
                            {{line}}<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
