<div class="surface-section px-4 md:px-6 lg:px-8">
    <div class="grid my-4">
        <div class="col-12 lg:col-6">
            <div class="flex">
                <img [src]="produit?.imageUrl || 'assets/layout/images/default-image-2.jpg'" alt="Image"
                    class="block w-full border-round-top"
                    [style]="{ 'border-radius': '20px 20px 0 0', 'height': '450px', 'object-fit': 'contain' }">
            </div>
        </div>
        <div class="col-12 lg:col-6 py-3 lg:pl-6">
            <h2 class="text-xl font-medium text-900 mb-4">{{ produit?.numeroPolice }}</h2>
            <div class="mb-5">
                <span class="text-900 font-bold text-3xl block">{{ produit?.label }}</span>
                <span class="text-900 font-medium text-xl block">Duree de couverture : {{ produit?.dureeCouverture
                    }} mois</span>
                <span class="text-900 font-medium text-xl block">Montant de souscription : {{
                    produit?.montantSouscription }} XAF</span>
            </div>
            <div class="flex flex-wrap sm:align-items-center sm:justify-content-between">
                <div class="flex align-items-center flex-1 mt-3 sm:mt-0">
                    <button type="button" pButton pRipple (click)="souscrire(produit)"
                        class="p-element p-ripple bg-cyan-500 border-none w-full mt-3 text-white p-button p-component"
                        style="border-radius: 30px; padding: 15px;">
                        <span class="p-button-label bold font-bold">Souscrire à cette police d'assurance</span>
                        <span class="p-ink"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <p-tabView>
        <p-tabPanel header="Détails">
            <div class="grid mt-4" *ngIf="assurance">
                <div class="col-12 lg:col-12">
                    <div class="font-medium text-xl text-900 mb-3">{{ assurance?.nom }}</div>
                    <div class="mb-4">
                        <label class="block font-normal text-900 mb-2">Description</label>
                        <p>{{ assurance?.description }}</p>
                    </div>
                    <div class="mb-4">
                        <label class="block font-normal text-900 mb-2">Type</label>
                        <p-tag [value]="getAssuranceEnumLabel(assurance?.type)"
                            [severity]="getAssuranceSeverity(assurance?.type)"></p-tag>
                    </div>
                </div>
            </div>
        </p-tabPanel>

        <p-tabPanel header="Conditions">
            <div class="line-height-3 mb-3 text-700"
                [innerHTML]="formatConditions(produit?.conditions) || 'Conditions non disponibles.'"></div>
        </p-tabPanel>

        <p-tabPanel header="Garanties">
            <p-table [value]="garanties" [columns]="columns"
                styleClass="p-datatable-gridlines" responsiveLayout="scroll" [rows]="10" [rows]="10" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true"
                dataKey="id">
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let col of columns">
                            {{ col.header }}
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-garantie>
                    <tr>
                        <td>{{ garantie?.label }}</td>
                        <td>{{ garantie?.percentage }}%</td>
                        <td>{{ garantie?.plafondAssure }} XAF</td>
                        <td>{{ garantie?.dateDebut | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ garantie?.dateFin | date: 'dd/MM/yyyy' }}</td>
                        <td><p-tag [value]="getGarantieEnumLabel(garantie?.status)"
                                [severity]="getGarantieSeverity(garantie?.status)"></p-tag></td>
                        <td>
                            <button type="button" pButton pRipple icon="pi pi-info" (click)="openDialog(garantie)"
                                class="p-element p-ripple bg-cyan-500 border-none w-full mt-3 text-white p-button p-component"
                                style="border-radius: 30px; padding: 15px;">
                                <span class="p-button-label bold font-bold">Détails</span>
                                <span class="p-ink"></span>
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
    </p-tabView>
</div>

<p-dialog [(visible)]="displayDialog" header="Termes de la garantie" [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true" style="width: 40vw">
    <div class="p-dialog-content">
        <div class="flex flex-wrap border-top-1 surface-border pt-4">
            <div class="bg-blue-50 flex align-items-center justify-content-center py-3 px-0 w-full md:w-4 border-round">
                <img src="assets/layout/images/security.svg" alt="Image de sécurité" class="w-9" />
            </div>
            <div class="text-700 line-height-3 m-0 p-5 w-full md:w-8">
                <p>{{ selectedGarantie?.termes }}</p>
            </div>
        </div>
    </div>
    <div class="p-dialog-footer">
        <button pButton icon="pi pi-times" label="Retour" class="p-button-text" (click)="hideDialog()"></button>
    </div>
</p-dialog>