<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="flex justify-content-between flex-wrap">
        <div class="flex align-items-center mb-4 md:mb-0">
            <div class="text-900 font-bold text-3xl mr-2">Vos sinistres </div>
            <p-badge [value]="sinistres.length" class="bg-gray-200 text-gray-900 border-circle p-element">
            </p-badge>
        </div>
        <p-divider styleclass="w-full border-gray-200" class="p-element">
            <div role="separator"
                class="w-full border-gray-200 p-divider p-component p-divider-horizontal p-divider-solid p-divider-left">
                <div class="p-divider-content"></div>
            </div>
        </p-divider>
    </div>

    <!-- Input de recherche globale -->
    <div class="flex align-items-center flex-auto">
        <div class="p-input-icon-left w-full p-input-filled">
            <i class="pi pi-search"></i>
            <input type="text" placeholder="Rechercher des sinistres"
                class="p-inputtext p-component p-element w-full p-border-round"
                style="height: 50px; font-size: 16px;; border-radius: 15px;" [(ngModel)]="searchQuery"
                (input)="onGlobalFilter()">
        </div>
    </div>

    <!-- Affichage des sinistres filtrés -->
    <div class="grid nogutter">
        <ng-container *ngIf="filteredSinistres.length > 0; else noSinistresTemplate">
            <div *ngFor="let sinistre of filteredSinistres" class="col-12 lg:col-4 p-3">
                <p-card [header]="'Sinistre #' + sinistre?.numeroSinistre"
                    [style]="{ 'border-radius': '20px', 'box-shadow': '0px 4px 12px rgba(0, 0, 0, 0.1)', 'height': '100%' }"
                    class="card-equal-height">
                    <ng-template pTemplate="header">
                        <p-tag [value]="getEnumLabel(sinistre?.status)" [severity]="getSeverity(sinistre?.status)"
                            [rounded]="true"></p-tag>
                    </ng-template>

                    <div class="p-4 flex flex-column">
                        <span class="text-xl text-900 font-medium mb-3">Intitulé du sinistre : {{
                            sinistre?.label }}</span>
                        <span class="text-xl text-900 font-medium mb-3">Montant de la sinistre : {{
                            sinistre?.montantSinistre }} XAF</span>
                        <span class="text-xl text-900 mb-3">Date de sinistre : {{ sinistre?.dateSurvenance | date
                            }}</span>
                    </div>

                    <ng-template pTemplate="footer">
                        <button type="button" pButton pRipple (click)="onSelectSinistre(sinistre)"
                            class="p-element p-ripple bg-cyan-500 border-none w-full mt-3 text-white p-button p-component"
                            [disabled]="sinistre?.status === 'APPROUVE'"
                            style="border-radius: 30px; padding: 15px;">
                            <span class="p-button-label bold font-bold">Demander le remboursement</span>
                            <span class="p-ink"></span>
                        </button>
                    </ng-template>
                </p-card>
            </div>
        </ng-container>
        <ng-template #noSinistresTemplate>
            <div class="col-12 text-center mt-5">
                <p class="text-4xl text-600">Aucune sinistre disponible pour le moment.</p>
            </div>
        </ng-template>
    </div>
</div>