<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div class="flex flex-wrap shadow-2">
      <div class="w-full lg:w-6 px-0 py-4 lg:p-7 bg-blue-50">
          <img src="../../assets/layout/images/logo-couleur.png" alt="Image" height="50" class="mb-6 justify-content-center">
          <p-carousel indicatorstyleclass="hover:bg-primary-500" class="p-element" [value]="items" [numVisible]="1"
              [numScroll]="1" [circular]="true" [autoplayInterval]="2000">
              <ng-template let-item pTemplate="carousel">
                  <div class="p-carousel-item ng-star-inserted">
                      <div class="text-center mb-8 ng-star-inserted">
                          <img alt="Image" height="100" class="pi-" [src]="item.imageUrl">
                          <div class="mx-auto font-medium text-xl mb-4 text-blue-900">
                              {{ item.title }}
                          </div>
                          <p class="m-0 text-blue-700 line-height-3">
                              {{ item.description }}
                          </p>
                      </div>
                  </div>
              </ng-template>
          </p-carousel>
      </div>
      <div class="w-full lg:w-6 p-4 lg:p-7 surface-card">
          <div class="flex align-items-center justify-content-end mb-4">
              <a class="font-medium text-blue-500 hover:text-blue-700 cursor-pointer transition-colors transition-duration-150" routerLink="/login">Se connecter</a>
          </div>
          <h1 class="text-black-alpha-70" data-cy="loginTitle">Réinitialisation de votre mot de passe</h1>
          <div class="p-2 lg:p-4 alert alert-danger" data-cy="loginError">
            <span class="text-black-alpha-70">Entrez l'adresse e-mail que vous avez utilisée lors de votre inscription</span>
          </div>
          <form class="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
            <div class="mb-3">
              <label for="email" class="block text-900 font-medium mb-2">Email</label>
              <input id="email" type="text" placeholder="Email"
              name="email" formControlName="email" #email data-cy="emailResetPassword"
              class="form-control p-inputtext p-component p-element w-full mb-3 p-3"/>

              <div *ngIf="resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)">
                <div *ngIf="resetRequestForm.get('email')?.errors?.required">
                  <small class="form-text text-danger">Votre adresse e-mail est requise.</small>
                </div>
                <div *ngIf="resetRequestForm.get('email')?.errors?.email">
                  <small class="form-text text-danger">Votre adresse e-mail est invalide.</small>
                </div>
                <div *ngIf="resetRequestForm.get('email')?.errors?.minlength">
                  <small class="form-text text-danger">Votre adresse e-mail doit comporter au moins 5 caractères.</small>
                </div>
                <div *ngIf="resetRequestForm.get('email')?.errors?.maxlength">
                  <small class="form-text text-danger">Votre adresse e-mail ne peut pas dépasser 50 caractères.</small>
                </div>
              </div>
            </div>

            <button label="Se connecter" type="submit" data-cy="submit"
              class="p-element p-ripple w-full py-3 font-medium p-button p-component" [disabled]="resetRequestForm.invalid">
                <span class="p-button-label">Réinitialiser le mot de passe</span>
                <span class="p-ink"></span>
            </button>
          </form>

          <div *ngIf="success" class="alert alert-danger" data-cy="loginError">
            <span class="text-black-alpha-70">Vérifiez votre e-mail pour les détails sur la réinitialisation de votre mot de passe.</span>
          </div>
      </div>
  </div>
</div>
