<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div class="flex flex-wrap shadow-2">
      <div class="w-full lg:w-6 px-0 py-4 lg:p-7 bg-blue-50">
          <img src="../../assets/layout/images/logo-couleur.png" alt="Image" height="50" class="mb-6 justify-content-center">
          <p-carousel indicatorstyleclass="hover:bg-primary-500" class="p-element" [value]="items" [numVisible]="1"
              [numScroll]="1" [circular]="true" [autoplayInterval]="2000">
              <ng-template let-item pTemplate="carousel">
                  <div class="p-carousel-item ng-star-inserted">
                      <div class="text-center mb-8 ng-star-inserted">
                          <img alt="Image" height="100" class="pi-" [src]="item.imageUrl">
                          <div class="mx-auto font-medium text-xl mb-4 text-blue-900">
                              {{ item.title }}
                          </div>
                          <p class="m-0 text-blue-700 line-height-3">
                              {{ item.description }}
                          </p>
                      </div>
                  </div>
              </ng-template>
          </p-carousel>
      </div>
      <div class="w-full lg:w-6 p-4 lg:p-7 surface-card">
          <h1 class="text-black-alpha-70" data-cy="loginTitle">Réinitialisation du mot de passe</h1>
          <div *ngIf="initialized && !key" class="alert alert-danger" data-cy="loginError">
            <span class="text-black-alpha-70">La clé de réinitialisation est manquante.</span>
          </div>
          <div *ngIf="key && !success" class="alert alert-danger" data-cy="loginError">
            <span class="text-black-alpha-70">Choisissez un nouveau mot de passe</span>
          </div>
          <div *ngIf="error" class="alert alert-danger" data-cy="loginError">
            <span class="text-black-alpha-70">Votre mot de passe n'a pas pu être réinitialisé. Veuillez noter qu'une demande de mot de passe n'est valable que pendant 24 heures.</span>
          </div>
          <div *ngIf="success" class="alert alert-danger" data-cy="loginError">
            <span class="text-black-alpha-70"><strong>Votre mot de passe a été réinitialisé.</strong> Veuillez vous </span>
            <a class="font-medium text-blue-500 hover:text-blue-700 cursor-pointer transition-colors transition-duration-150" routerLink="/login">connecter</a>
          </div>
          <div *ngIf="doNotMatch" class="alert alert-danger" data-cy="loginError">
            <span class="text-black-alpha-70">Le mot de passe et sa confirmation ne correspondent pas !</span>
          </div>

          <div *ngIf="key && !success">
            <form class="form"  (ngSubmit)="finishReset()" [formGroup]="passwordForm">
              <label for="newPassword" class="block text-900 font-medium mb-2">Nouveau mot de passe</label>
              <p-password id="newPassword" type="password" placeholder="Nouveau mot de passe"
              name="newPassword" formControlName="newPassword" data-cy="resetPassword" #newPassword
              class="w-full" [style]="{'width':'100%', 'height':'45px'}" inputStyleClass="w-full" [feedback]="true" [toggleMask]="true"/>

              <label for="confirmPassword" class="block text-900 font-medium mb-2 mt-3">Mot de passe</label>
              <p-password id="confirmPassword" type="password" placeholder="Mot de passe"
              name="confirmPassword" formControlName="confirmPassword" data-cy="confirmResetPassword"
              class=" w-full" [style]="{'width':'100%', 'height':'45px'}" inputStyleClass="w-full" [feedback]="true" [toggleMask]="true"/>

              <button label="Se connecter" type="submit" data-cy="submit"
                class="p-element p-ripple w-full mt-6 py-3 font-medium p-button p-component" [disabled]="passwordForm.invalid">
                  <span class="p-button-label">Valider le nouveau mot de passe</span>
                  <span class="p-ink"></span>
              </button>
            </form>
          </div>
      </div>
  </div>
</div>
