/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";

@import "assets/demo/flags/flags.css";
@import "assets/demo/documentation.scss";

@import 'assets/theme/theme-teal-yellow.css';
@import 'assets/layout/css/layout-teal-yellow.css';

//@import 'assets/theme/theme-teal-yellow.css';
//@import 'assets/layout/css/layout-teal-yellow.css';
//@import '../node_modules/primeng/resources/themes/vela-blue/theme.css';

//@import '../node_modules/primeng/resources/themes/saga-blue/theme.css';

:host ::ng-deep .p-message {
    margin-left: .25em;
}

:host ::ng-deep .p-toast{
    z-index:99999;
}

.p-text-bold {
    font-weight: bold;
}

.block {
    display: block;
}

.font-normal {
    font-weight: normal; /* ou ajustez selon vos besoins */
}

.text-900 {
    color: #000; /* ou la couleur que vous souhaitez utiliser */
}

.mb-2 {
    margin-bottom: 0.5rem; /* ajustez selon vos besoins */
}

.align-right {
    display: flex;
    justify-content: flex-end;
}
.button-wrapper {
    margin-left: 0.5rem; /* Espace entre les boutons */
}



.entete {
    text-align: center;
    margin: auto;
    font-size: 0.87em;
    font-weight: bold;
    width: auto;
}

.left, .center, .right {
    vertical-align: top;
}

.left, .right {
    width: 33%; /* Ajustez la largeur selon vos besoins */
}

.center {
    width: 34%; /* Ajustez la largeur selon vos besoins */
}

.table {
    width: 100%;
}

.img {
    height: 60px; /* Ajustez la hauteur selon vos besoins */
}

.titre {
    text-align: center;
    text-decoration: wavy;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
}

.invoice-items table {
    width: 100%;
}

.invoice-footer {
    margin-top: 20px;
    text-align: center;
}

.footer-text {
    font-size: 0.8em;
    margin-bottom: 10px;
}

.invoice-details {
    font-size: 1.2em;
    font-weight: bold;
}

/* Masquer le texte sur les écrans de moins de 768 pixels (mobile) */
@media (max-width: 768px) {
    .responsive-text {
        display: none; /* Cache l'élément */
    }
}

/* Afficher le texte sur les écrans de 768 pixels et plus (tablette et bureau) */
@media (min-width: 769px) {
    .responsive-text {
        display: inline; /* Affiche l'élément */
    }
}


